@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #242524;
}

:root {
  --mainHeight: 50vh;
  --black: #242524;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
}

header {
  background-color: #242524;
  height: 8vh;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 50px rgb(27, 27, 27);

  z-index: 999;
}
li {
  list-style: none;
}

.navbar {
  min-height: 7vh;
  max-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 999;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #f9c360;
  font-weight: 500;
}

.nav-item a,
.nav-item-active a {
  transition: 0.15s ease-in-out;
}

.nav-item:hover a,
.nav-item-active a {
  background-color: #f9c360;
  padding: 5px 13px;
  border-radius: 5px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item-active a,
.nav-item a:hover {
  color: #242524;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.resp-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.main {
  height: 60vh;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #f3f3f3;
}
.main img {
  width: 600px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.main {
  background-color: #242524;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -20px 13px -16px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px -20px 13px -16px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px -20px 13px -16px rgba(0, 0, 0, 0.3) inset;
}

.main .details {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.main .details h3 {
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  padding: 5px;
  width: 80%;
  color: #f9c360;
  font-weight: 500;
}

.main .details ul {
  width: 100%;
  padding: 15px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .details li:not(:last-child) {
  background-color: rgb(20, 20, 20);

  padding: 10px;
  margin: 15px;
  border-radius: 25px;
  width: 80%;
  display: flex;
}

.main .details li i {
  padding: 5px;
  color: #f3f3f3;
}

.main .details ul li:not(:last-child) input {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 5px;
  background-color: rgb(20, 20, 20);
  border: none;
  outline: none;
  color: #f3f3f3;
  transition: 0.15s ease-in-out;
}

.main .details ul li:nth-child(2) input:invalid,
.invalid-email {
  border: 1px solid #d9534f;
  background-color: transparent;

  transition: 0.15s ease-in-out;
}

.main .details li input:focus {
  border: none;
  outline: none;
}

.main .details ul li {
  width: 300px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242524;
  z-index: 1000;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #f9c360;
  border-top-color: #f3f3f3;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

.loader--hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

#iMsg {
  background-color: transparent;
  border: none;
  margin-top: 5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.074);
  color: #f3f3f3;
  width: 100%;
  height: 100px;
  outline: none;
}

#iMsg:focus {
  outline: none;
}

.send-btn {
  background-color: #f9c360;
  padding: 5px 13px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-weight: 500;
  font-size: 15px;
  margin: 10px;
}

.send-btn:hover,
.send-btn:active {
  background-color: #242524;
  color: #f9c360;
  border: 1px solid #f9c360;
}

footer {
  background-color: #242524;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

footer div {
  width: 300px;
}

.ft-slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ft-slogan h1 {
  color: #f3f3f3;
  font-size: 40px;

  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
  padding: 15px;
}
.ft-slogan h3 {
  color: white;
  text-transform: capitalize;
}

.ft-links {
  display: none;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.link-item {
  display: flex;
  padding: 15px;
}

.icon {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #1a1b1a;
}

.link-item .ico-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
}
.link-item .ico-desc p {
  display: block;
  font-size: 18px;
  font-weight: 400;
}

#email {
  color: #f9c360;
  cursor: pointer;
}

.ft-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.ft-social h4 {
  color: #f5f5f5;
  font-size: 25px;
}

.ft-social p {
  color: #f5f5f5;
  padding: 10px;
}

.social {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.social li a {
  color: white;
  background-color: #1a1b1a;
  line-height: 60px;
  width: 30px;
  height: 30px;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

.social li:nth-child(1) a:hover {
  background-color: #4267b2;
}

.social li:nth-child(2) a:hover {
  background-color: #1da1f2;
}

.social li:nth-child(3) a:hover {
  background-color: #0077b5;
}

.social li:nth-child(4) a:hover {
  background-color: #6e5494;
}

/*SCROLL BAR*/

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  background-color: #242524;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
  width: 80%;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.modal-content p,
.modal-content i {
  font-size: 35px;
  font-weight: 500;
  padding: 5px;
  color: #5cb85c;
  display: inline;
  text-align: center;
  justify-items: center;
}

.invModal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.inv-modal-content {
  display: flex;
  background-color: #242524;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
  width: 80%;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.inv-modal-content p,
.inv-modal-content i {
  font-size: 35px;
  font-weight: 500;
  padding: 5px;
  color: #d9534f;
  display: inline;
}
