@media (max-width: 768px) {
  .resp-menu {
    display: block;
  }

  .resp-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .resp-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .resp-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    box-shadow: 1px -8px 7px 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 1px -8px 7px 1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 1px -8px 7px 1px rgba(0, 0, 0, 0.24);
    position: fixed;
    left: -100%;
    top: 36px;
    gap: 0px;
    flex-direction: column;
    background-color: #242524;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item:hover a,
  .nav-item-active a {
    background-color: #f9c360;
    width: 100%;
    padding-top: 0;
  }

  .nav-branding {
    font-size: 4vh;
  }

  .main {
    height: 30vh;
  }

  .main h2 {
    font-size: 4vh;
    padding: 5% 0 5% 0;
  }

  .main h3 {
    font-size: 2vh;
    width: 80%;
    margin-bottom: 5%;
  }

  .home {
    padding: 0;
    display: flex;
  }

  .hook {
    font-size: 150%;
  }
  .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .courses .card {
    transform: scale(80%);
  }

  .courses .card:hover {
    transform: scale(90%);
  }

  footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  footer div {
    width: 100%;
  }

  footer .ft-links {
    display: none;
  }

  .ft-slogan h3 {
    font-size: 10px;
    padding-bottom: 15px;
  }

  .ft-slogan h1 {
    font-size: 26px;
  }

  .ft-social h4 {
    font-size: 20px;
  }

  .ft-social p {
    font-size: 12px;
    text-align: center;
    width: 80%;
  }

  .social li a {
    color: white;
    background-color: #1a1b1a;
    line-height: 60px;
    width: 9px;
    height: 2px;
    padding: 11px;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
  }
}
